/* import font open sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");

/* shared style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.orange-text {
    color: #fd6e0a;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.primary-btn {
    background-color: #fd6e0a;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 30px;
}

.section-title {
    text-align: center;
    color: #181818;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
}

/* header section */
.header-class {
    background-color: #fff8f3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.banner {
    padding: 30px 30px 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 500px;
}

.banner-greeting {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0;
}

.developer-name {
    font-size: 75px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0;
}

.banner-text {
    margin: 15px 0px;
}

.profile-picture {
    width: 500px;
}

.about {
    padding: 130px;
    background-color: #fff8f3;
    border-radius: 10px;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-info {
    text-align: center;
}
